<div class="col-sm-6 modal-content alert alert-danger">
    <div ng-switch on="msg == undefined">
        <div ng-switch-when="true" class="modal-body text-center" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            &nbsp; Ocurrió un error.
        </div>
        <div ng-switch-when="false" class="modal-body text-center" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{msg}}
        </div>
        <div class="modal-body">
            <div class="text-center">
                <button type="button" class="btn btn-danger" ng-click="close()">Aceptar</button>
            </div>
        </div>
    </div>
</div>