<form id="loginForm" name="form" ng-submit="doLogin()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
        <h3 class="text-center">Resultados &nbsp;{{encuentro.nombre}}</h3>
    </div>
    <div class="modal-body">
        <div id="grid-resultados" ui-grid="table.gridOptions" ui-grid-selection class="grid" ng-if="tieneResultados == true">

        </div>
        <div class="alert-warning" ng-if="tieneResultados == false">
            <div class="alert alert-warning text-center" role="alert" style="height: 50%;">No existen resultados para este encuentro.
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="button" class="btn btn-info center-block" ng-click="close()" value="Cerrar"/>
        </div>
    </div>
</form>