a {
    color: #101010;
}

.ssem-grid-button {
    margin-right: 0.4em;
    font-size: 1.5em;
    color: #444444;
}

.panel-body {
    min-height: 25em;
}

.text-footer {
    color:rgb(157, 157, 157);
    font-size: 0.9em;
}
.text-footer:hover {
    color:white;
}
.footer {
    height: 5em;
    background-color: #222;
    padding: 1em;
}
.main-icon {
    color: #122b40;
    font-size: 3em;
}
.main-img-slide {
    width: 100%;
    height: 25em;
    max-height: 25em;
}
.main-img {
    width: 80%;
    height: 25em;
    max-height: 25em;
    margin: 5% auto auto;
}

.main-info {
    border: 2.5px solid #122b40;
    width: 80%;
    height: 25em;
    margin: 2% auto 4%;
    padding-top: 3%;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.panel-eventos {
    min-height: 30em;
}

.botonera-ssem {
    margin-top: 2%;
}

.ssem-well-title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1.5em;
}

.grid-disciplinas {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 0.3em;
    height: 18em;
}

.main-section {
    margin-top: 5em;
}

.reportes-submenu {
    margin-left: 10% !important;
}

.btn-info {
    background: #2e353d;
    border-color: #23282e;
}

.btn-info:disabled {
    background-color: #000000;
    border-color: #0f0f0f;
}

.btn-info:disabled:hover {
    background: rgb(86, 93, 101);
    border-color: #23527c;
}


.btn-info:hover {
    background: rgb(86, 93, 101);
    border-color: #23527c;
}

.panel {
    border-color: #2e353d;
}

.panel .panel-heading {
    background: rgb(46, 53, 61);
    border-color: #23282e;
}

.panel-title {
    color: rgb(255,255,255);
}

.panel-heading {
    background-color: rgb(46, 53, 61);
}

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    height: 100%;
    color: #e1ffff;
}
.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:not(.nohover):hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0px;
    padding: 0px;
}

.center-modal {
    position: fixed;
    top: 40%;
    left: 20%;
}

.center-modal-resultado {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

.angular-google-map-container {
    height: 400px;
}

.drag-list {
    min-height: 10em;
}

.bordered-thin {
    border: solid 1px #2e353d;
}

.list-group-item-drag {
    color:#ce8483;
    background-color: floralwhite;
}

.input-detalle {
    margin-top: 0.5em;
}

.imagen-carrousel {
    height:25em;
    max-height:25em;
    min-height: 25em;

    width:45em;
    max-width: 45em;
    min-width: 45em;
}

.label-positive {
    background-color: rgb(59, 89, 152);
}

.text-descripcion {
    overflow: scroll;
    max-height: 20em;
}