/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
    position: relative;
    height: 65px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}


.show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.show-hide.ng-hide {
    opacity:0;
}

.animated-bounce.ng-hide {
    animation: bounceOut 1s;
}

.animated-bounce.ng-hide-remove {
    animation: bounceIn 1s;
}

.animated-slide-right.ng-enter {
    animation: pulse 500ms;
}

.animated-slide-right.ng-leave {
    animation: bounceOut 1s;
}

.chart-wrapper.ng-enter {
    animation : flipInX 400ms;
}
