<div id="form-entrada" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-init="initAlta()">
    <form class="form-horizontal" role="form" ng-submit="addEntrada()">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Alta de entradas</div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="nombre" class="control-label col-md-3">Nombre: *</label>
                    <div class="input-group col-md-7">
                        <input id="nombre" class="form-control" ng-model="entrada.nombre" type="text" placeholder="Nombre/tipo de entrada" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="stock" class="control-label col-md-3">Stock: *</label>
                    <div class="input-group col-md-2">
                        <input id="stock" class="form-control" ng-model="entrada.stock" min="1" step="1" type="number" placeholder="Stock" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="precio" class="control-label col-md-3">Precio: *</label>
                    <div class="input-group col-md-2">
                        <input id="precio" class="form-control" ng-model="entrada.precio" min="1" step="any" type="number" placeholder="Precio" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="control-label col-md-3">Descripción: *</label>
                    <div class="input-group col-md-7">
                        <textarea id="descripcion" class="form-control" ng-model="entrada.descripcion" placeholder="Descripción de la entrada" ng-required="true">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group col-md-offset-5 col-md-7">
                        <button type="submit" class="btn btn-info col-md-3">Agregar</button>
                    </div>
                </div>
                <div class="form-group animated-bounce" ng-hide="esconderEntradas">
                    <label class="control-label col-md-3">Entradas</label>
                    <div class="input-group col-md-7">
                        <div class="list-group">
                            <div class="list-group-item list-group-item-success animated-slide-right" ng-repeat="item in entradas">
                                <h4 class="list-group-item-heading">Nombre:&nbsp; {{item.nombre}} <a href="" ng-click="removeEntrada($index)" class="text-info pull-right"><i class="fa fa-minus-circle"></i></a></h4>
                                <p class="list-group-item-text"><b>Stock:</b>&nbsp; {{item.stock}}  <b style="margin-left:1em;">Precio:</b>&nbsp; U$S {{item.precio}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger col-lg-offset-1 col-md-10" role="alert" ng-repeat="error in errors">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{error}}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-4">
                    <div class="btn-toolbar">
                        <button type="button" ng-click="alta()" class="btn btn-info col-md-3">Confirmar</button>
                        <button type="button" ui-sref="home.encuentro.listaEntradas" class="btn btn-info col-md-3">
                            Volver
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>