<section class="main-img">
    <uib-carousel interval="5000">
        <uib-slide>
            <img ng-src="styles/images/main/multi1.png" class="main-img-slide">
        </uib-slide>
        <uib-slide>
            <img ng-src="styles/images/main/multi2.jpg" class="main-img-slide">

            <div class="carousel-caption">

            </div>
        </uib-slide>
        </uib-slide>
        <uib-slide>
            <img ng-src="styles/images/main/sports.jpg" class="main-img-slide">

            <div class="carousel-caption">

            </div>
        </uib-slide>
    </uib-carousel>
</section>

<section class="main-info well">
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <div class="media">
                <div class="media-left">
                    <span class="fa fa-archive main-icon"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Gestiona tus eventos.</h4>
                    <p>Nuestra plataforma te permite gestionar eventos de cualquier tipo de deporte, de forma transparente y segura.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="media">
                <div class="media-left">
                    <span class="fa fa-arrow-circle-up main-icon"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Publica</h4>
                    <p>Tus eventos pueden quedar publicados a una página única disponible para cualquier usuario Web o Android.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-offset-1 col-md-5">
            <div class="media">
                <div class="media-left">
                    <span class="fa fa-paypal main-icon"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Donaciones</h4>
                    <p>Puedes recibir donaciones paypal para financiar tus eventos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="media">
                <div class="media-left">
                    <span class="fa fa-user-secret main-icon"></span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Delegaciones</h4>
                    <p>Incluya delegaciones para que puedan registrar deportistas, de esta forma podrás planificar partidos, carreras, etc.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<footer class="footer">-->
    <!--<div class="text-center" style="vertical-align:middle;">-->
        <!--<a href="" class="text-footer">Contacto</a> <a class="text-footer">|</a> <a href="" class="text-footer">About</a>-->
    <!--</div>-->
<!--</footer>-->