<div class="mainbox col-md-offset-3 col-md-6" style="margin-top: 5em;">

    <div class="panel panel-info">
        <form id="registerForm" ng-submit="registrarOrganizador()">
            <div class="panel-heading">
                <div class="panel-title">Registrar Organizador</div>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-2">Nick:</label>
                    <div class="col-sm-offset-1 col-sm-9">
                        <input class="form-control" type="text" placeholder="Nick" ng-model="request.request.nick" ng-required="false"/>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-2">E-mail</label>
                    <div class="col-sm-offset-1 col-sm-9">
                        <input class="form-control" type="email" placeholder="Correo Electrónico" ng-model="request.request.email" ng-required="false"/>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-2">Nombre</label>
                    <div class="col-sm-offset-1 col-sm-9">
                        <input class="form-control" type="text" placeholder="Nombre" ng-model="request.request.nombre" ng-required="false"/>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-2">Apellido</label>
                    <div class="col-sm-offset-1 col-sm-9">
                        <input class="form-control" type="text" placeholder="Apellido" ng-model="request.request.apellido" ng-required="false"/>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-3">Fecha de nacimiento:</label>
                    <div class="col-sm-offset-1 col-sm-8">
                        <p class="input-group">
                            <input id="fecha-nac" class="form-control" datetime-picker="dd/MM/yyyy"
                                   ng-model="request.request.fechaNac" is-open="fechaNacOpened" enable-time="false" placeholder="Fecha de nacimiento" ng-required="false" close-text="Close">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFechaNac()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-2">Teléfono:</label>
                    <div class="col-sm-offset-1  col-sm-9">
                        <input class="form-control" type="number" placeholder="Teléfono" ng-model="request.request.telefono" ng-required="false"/>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-2">Contraseña:</label>
                    <div class="col-sm-offset-1 col-sm-9">
                        <input class="form-control" type="password" placeholder="Contraseña" ng-model="request.request.password" ng-required="false"/>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-2">Confirmar Contraseña:</label>
                    <div class="col-sm-offset-1 col-sm-9">
                        <input class="form-control" type="password" placeholder="Confirmar Contraseña"/>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-2">País:</label>
                    <div class="col-sm-offset-1 col-sm-9">
                        <select class="form-control" ng-model="request.request.pais" ng-options="pais as pais.nombre for pais in paises track by pais.id | orderBy : pais.nombre">
                            <option value="-1" selected="selected">Elija un país</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-10">
                    <label class="control-label col-sm-2">Ávatar:</label>
                    <div class="col-sm-offset-1 col-sm-9">
                        <input id="logo" class="form-control" type="file" ng-file-model="imagen" ng-required="false"/>
                    </div>
                </div>
                <div class="alert alert-danger col-md-8 col-md-offset-2" role="alert" ng-repeat="error in errors" >
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{error}}
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>