<div class="row" ng-cloak>
    <div id="lista-delegaciones-caja" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6"
         ng-init="initDelegaciones()">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Delegaciones</div>
            </div>
            <div ng-if="delegaciones.length > 0">
                <div class="row botonera-ssem">
                    <div class="col-lg-offset-9 col-md-2">
                        <button type="button" ng-click="openFormDelegacion()" class="btn btn-default pull-right"><i
                                class="fa fa-plus"></i> Agregar
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="grid-delegaciones" ui-grid="table.gridOptions" ui-grid-selection class="grid">

                    </div>
                </div>
            </div>
            <div ng-if="delegaciones.length === 0">
                <div class="panel-body">
                    <div class="alert-warning">
                        <div class="alert alert-warning text-center" role="alert" style="height: 50%;">No existen
                            delegaciones. Para agregar haz click <a ng-click="openFormDelegacion()" href="">aquí</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-cloak>
    <div id="form-delegacion" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-hide="hideForm">
        <form class="form-horizontal" role="form" ng-submit="submitDelegacion()">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">{{tituloForm}}</div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="nombre-delegacion" class="col-md-4">Nombre</label>

                        <div class="col-md-12">
                            <input id="nombre-delegacion" class="form-control" ng-model="delegacion.nombre" type="text"
                                   class="form-control" name="nombreEvento" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email-delegacion" class="col-md-4">Email</label>

                        <div class="col-md-12">
                            <input id="email-delegacion" class="form-control" ng-model="delegacion.email" type="email"
                                   class="form-control" name="nombreEvento" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="combo-paises" class="col-md-4">Pais</label>
                        <div class="col-md-12">
                            <select id="combo-paises" class="form-control" ng-model="delegacion.pais"
                                    ng-options="pais as pais.nombre for pais in paises track by pais.id | orderBy : pais.nombre">
                                <option value="-1" selected="selected">Elija un país</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger col-md-12" role="alert" ng-repeat="error in errors">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-4">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-info col-md-3">Confirmar</button>
                            <button type="button" ng-click="ocultarForm()" class="btn btn-info col-md-3">Ocultar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>