<div class="row" ng-cloak ng-init="initDetalle()">
    <div id="form-novedad" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide">
        <form class="form-horizontal" role="form" ng-submit="editar()">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Editar perfil</div>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label col-sm-2">Correo</label>
                        <div class="input-group col-md-9">
                            <input id="user-email" class="form-control" ng-model="correo" type="text" ng-required="false" ng-disabled="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Nombre</label>
                        <div class="input-group col-md-9">
                            <input id="user-nick" class="form-control" ng-model="operador.nombre" type="text" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Contraseña</label>
                        <div class="input-group col-md-9">
                            <input id="user-password" class="form-control" ng-model="operador.password" type="password" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Confirmar Contraseña</label>
                        <div class="input-group col-md-9">
                            <input class="form-control" ng-model="confirmPassword" ng-style="styleConfirmPassword" ng-focus="focusConfirmPassword()" ng-keyup="comparePassword()" type="password" ng-required="true">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-sm-2">Ávatar:</label>-->
                        <!--<label class="btn btn-info ">-->
                            <!--<input id="logo" class="form-control" type="file" ng-file-model="imagen" ng-required="false" style="display:none;"/>-->
                            <!--Subir archivo-->
                        <!--</label>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="alert alert-danger col-lg-offset-1 col-md-10" role="alert" ng-repeat="error in errors">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-5">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-info" ng-disabled="!passwordMatches">
                                Confirmar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>