<style>
    .bo_subtitle{
        margin: 0em 0 2em 0;
        border-bottom: solid #4f5b69 2pt;
        border-left: solid #4f5b69 2pt;
        border-bottom-left-radius: 0.5em;
        padding-left: 0.5em;
        padding-bottom: 0.2em;
    }
</style>

<div id="alta-alerta-caja" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6" ng-init="initCrearEvento()">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Alta de Evento</div>
        </div>
        <div class="panel-body" >
            <form id="alta-alerta-form" class="form-horizontal" role="form" ng-submit="crearEvento()">
                <div class="panel">
                    <div class="panel-body" >
                        <h4 class="bo_subtitle">General</h4>
                        <div class="form-group">
                            <label for="nombre-evento" class="col-md-3 control-label">Nombre</label>
                            <div class="col-md-6">
                                <input id="nombre-evento" ng-model="nombre" type="text" class="form-control" name="nombreEvento" placeholder="Nombre del Evento" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fecha-desde" class="col-md-3 control-label">Fecha Inicio</label>
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input id="fecha-desde" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm a"
                                           ng-model="fechaDesde" is-open="status.fechaDesdeOpened"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openFechaDesde()"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fecha-hasta" class="col-md-3 control-label">Fecha Fin</label>
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input id="fecha-hasta" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm a"
                                       ng-model="fechaHasta" is-open="status.fechaHastaOpened"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openFechaHasta()"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="combo-paises" class="col-md-3 control-label">Pais</label>
                            <div class="col-md-7">
                                <p class="input-group">
                                    <select id="combo-paises" class="form-control" ng-model="pais"
                                            ng-options="pais as pais.nombre for pais in paises track by pais.id | orderBy : pais.nombre">
                                        <option value="-1" selected="selected">Elija un país</option>
                                    </select>
                                <p class="input-group">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descripcion-evento" class="col-md-3 control-label">Descripción</label>
                            <div class="col-md-6">
                                <textarea id="descripcion-evento" ng-model="descripcion" type="text" class="form-control" placeholder="Descripción del Evento" ng-required="true">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nombre-disciplina" class="col-md-3 control-label">Disciplinas</label>
                            <div class="input group">
                                <div class="col-md-6">
                                    <input id="nombre-disciplina" ng-model="disciplina" type="text" class="form-control" placeholder="Agregar disciplina...">
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="agregarDisciplina()"><i class="fa fa-plus"></i></button>
                                    <button class="btn btn-default" type="button" ng-click="deleteSelected()"><i class="fa fa-minus"></i></button>
                                </span>
                            </div>
                            <div class="col-md-offset-2 col-md-8">
                                <div id="grid-disciplinas" ui-grid="gridOptions" ui-grid-selection class="grid grid-disciplinas">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="logo" class="col-md-3 control-label">Imagenes del evento</label>
                            <div class="col-md-7">
                                <p class="input-group">
                                    <input id="logo" class="form-control" accept="image/*" type="file" ng-required="true" multiple ng-file-model="imagenes"/>
                                <p class="input-group">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body" >
                        <h4 class="bo_subtitle">Orígenes de Datos</h4>
                        <div class="form-group">
                            <label for="origen-facebook" class="col-md-3 control-label">Facebook</label>
                            <div class="col-md-6">
                                <input id="origen-facebook" ng-model="origenFacebook" type="text" class="form-control" name="origenFacebook" placeholder="Ingrese el link de facebook..." ng-required="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="origen-twiteer" class="col-md-3 control-label">Twitter</label>
                            <div class="col-md-6">
                                <input id="origen-twiteer" ng-model="origenTwitter" type="text" class="form-control" name="origenTwitter" placeholder="Ingrese el link de twitter..." ng-required="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="origen-youtube" class="col-md-3 control-label">Youtube</label>
                            <div class="col-md-6">
                                <input id="origen-youtube" ng-model="origenYoutube" type="text" class="form-control" name="origenYoutube" placeholder="Ingrese el link del vídeo..." ng-required="false">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="origen-otro" class="col-md-3 control-label">Otro Orígen</label>
                            <div class="col-md-6">
                                <input id="origen-otro" ng-model="origenOtro" type="text" class="form-control" name="origenOtro" placeholder="Ingrese el link del orígen..." ng-required="false">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" ng-repeat="error in errors" >
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{error}}
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>