<section>
    <div id="alta-alerta-caja" class="mainbox col-lg-offset-3 col-lg-8 col-sm-8 col-md-8" ng-init="getDetalleEncuentro()">
        <div class="well well-lg">
            <div class="ssem-well-title">
                <h1><a href="">{{evento.nombre}}</a><a href="" ng-click="goToEditar()"><i uib-tooltip="Editar" class="fa fa-edit pull-right"></i></a></h1>
            </div>
            <div class="form-group">
                <label>Número del evento:</label> {{evento.idEvento}}
            </div>
            <div class="form-group">
                <label>Fecha de inicio:</label> {{evento.fechaInicio | date:dateTimeFormat}}
            </div>
            <div class="form-group">
                <label class="">Fecha fin:</label> {{evento.fechaFin | date:dateTimeFormat}}
            </div>
            <div class="form-group" ng-if="evento.pais">
                <label class="">País:</label>{{evento.pais.nombre}}
            </div>
            <div class="form-group">
                <label>Disciplinas:</label>
                <span>{{evento.disciplinas.join(", ")}}</span>
            </div>
            <div class="form-group">
                <a ng-if="origenFacebook" class="label label-positive" target="_blank" href="{{origenFacebook}}" ng-if="origenFacebook">Origen Facebook</a>
                <a ng-if="origenTwitter" class="label label-info" target="_blank" href="{{origenTwitter}}">Origen Twitter</a>
                <a ng-if="origenYoutube" class="label label-danger" target="_blank" href="{{origenYoutube}}">Origen Youtube</a>
                <a ng-if="origenOtro" class="label label-primary" target="_blank" href="{{origenOtro}}">Otros Origenes</a>
            </div>
            <div class="form-group">
                <label class="label label-default">URL</label> &nbsp; <a target="_blank" ng-href="{{eventoURL}}" class="label label-default">{{eventoURL}}</a>
            </div>
            <div class="ssem-well-title" ng-if="evento.imagenes && evento.imagenes.length > 0">
                <h3><a href="">Imágenes</a></h3>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <div ng-show="evento.imagenes && evento.imagenes.length > 0" style="height: 30%;">
                        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                            <uib-slide ng-repeat="imagen in evento.imagenes">
                                <img class="imagen-carrousel" data-ng-src="{{imagen}}" style="margin:auto;">
                            </uib-slide>
                        </uib-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>