<div id="alta-alerta-caja" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6" ng-init="initEditarEvento()">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Editar Evento</div>
        </div>
        <div class="panel-body" >
            <form id="alta-alerta-form" class="form-horizontal" role="form" ng-submit="editarEvento()">
                <div class="form-group">
                    <label for="nombre-evento" class="col-md-3 control-label">Nombre</label>
                    <div class="col-md-6">
                        <input id="nombre-evento" ng-value="evento.nombre" ng-model="nombre" type="text" class="form-control" name="nombreEvento" placeholder="Nombre del Evento" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fecha-desde" class="col-md-3 control-label">Fecha Inicio</label>
                    <div class="col-md-6">
                        <p class="input-group">
                            <input id="fecha-desde" type="text" class="form-control" datetime-picker="dd/MM/yyyy hh:mm a"
                                   ng-model="fechaDesde" is-open="status.fechaDesdeOpened"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFechaDesde()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fecha-hasta" class="col-md-3 control-label">Fecha Fin</label>
                    <div class="col-md-6">
                        <p class="input-group">
                            <input id="fecha-hasta" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm a"
                                   ng-model="fechaHasta" is-open="status.fechaHastaOpened"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFechaHasta()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Estado</label>
                    <div class="btn-group-sm col-md-6">
                        <p class="input-group">
                            <label id="btn-online" class="btn btn-default" ng-model="estado" uib-btn-radio="'online'">Online</label>
                            <label id="btn-offline" class="btn btn-default" ng-model="estado" uib-btn-radio="'offline'">Offline</label>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="origen-facebook" class="col-md-3 control-label">Facebook</label>
                    <div class="col-md-6">
                        <input id="origen-facebook" ng-model="origenFacebook" type="text" class="form-control" name="origenFacebook" placeholder="Ingrese el link de facebook..." ng-required="false">
                    </div>
                </div>
                <div class="form-group">
                    <label for="origen-twiteer" class="col-md-3 control-label">Twitter</label>
                    <div class="col-md-6">
                        <input id="origen-twiteer" ng-model="origenTwitter" type="text" class="form-control" name="origenTwitter" placeholder="Ingrese el link de twitter..." ng-required="false">
                    </div>
                </div>
                <div class="form-group">
                    <label for="origen-youtube" class="col-md-3 control-label">Youtube</label>
                    <div class="col-md-6">
                        <input id="origen-youtube" ng-model="origenYoutube" type="text" class="form-control" name="origenYoutube" placeholder="Ingrese el link del vídeo..." ng-required="false">
                    </div>
                </div>
                <div class="form-group">
                    <label for="origen-otro" class="col-md-3 control-label">Otro Orígen</label>
                    <div class="col-md-6">
                        <input id="origen-otro" ng-model="origenOtro" type="text" class="form-control" name="origenOtro" placeholder="Ingrese el link del orígen..." ng-required="false">
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" ng-repeat="error in errors" >
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{error}}
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>