<div id="lista-eventos-caja" class="mainbox col-lg-offset-4 col-lg-6" ng-init="initListaEventos()">
    <div class="panel panel-info panel-eventos" ng-cloak>
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Mis Eventos
            </div>
        </div>
        <div ng-if="eventos.length > 0" class="panel-body">
            <table class="table table-hover table-bordered" id="dev-table">
                <tr ng-animate="'animate'" ng-repeat="evento in eventos">
                    <td ng-click="goToEvento(evento)" style="cursor:pointer;"><b>{{ evento.nombre }}</b></td>
                </tr>
            </table>
        </div>
        <div ng-if="eventos.length == 0" class="panel-body">
            <div class="alert alert-warning text-center" role="alert" style="height: 50%;">No dispones de eventos. Click <a ui-sref="home.altaEvento">aquí</a> para crear uno.</div>
        </div>
    </div>
</div>