<div class="row" ng-cloak ng-init="initAlta()">
    <div id="form-equipo" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-hide="hideForm">
        <form class="form-horizontal" role="form" ng-submit="submitAlta()">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Alta de Equipo</div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="nombre-equipo" class="col-md-4">Nombre</label>

                        <div class="col-md-12">
                            <input id="nombre-equipo" class="form-control" ng-model="equipo.nombre" type="text" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="combo-disciplinas" class="col-md-4">Disciplinas</label>
                        <div
                            class="col-md-12"
                            id="combo-disciplinas"
                            isteven-multi-select
                            input-model="disciplinas"
                            output-model="disciplinasAlta"
                            button-label="nombre"
                            item-label="nombre"
                            tick-property="ticked"
                            translation="multiSelectLocalLang"
                            search-property="nombre"
                            max-labels="5"
                            max-height="8em">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="logo" class="col-md-12">Logo </label>-->
                        <!--<div class="col-md-7">-->
                            <!--<input id="logo" class="form-control" accept="image/*" type="file" ng-required="true" ng-file-model="equipo.logo"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="alert alert-danger col-lg-offset-1 col-md-10" role="alert" ng-repeat="error in errors">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-4">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-info col-md-3">Confirmar</button>
                            <button type="button" ui-sref="homeDelegacion.listaEquipos" class="btn btn-info col-md-3">Volver</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>