<div class="row" ng-cloak ng-init="initDetalle()">
    <div id="form-novedad" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-hide="hideForm">
        <form class="form-horizontal" role="form">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Detalle equipo</div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="nombre" class="control-label col-md-2">Nombre: </label>
                        <div class="input-group col-md-9">
                            <input id="nombre" class="form-control" ng-model="equipo.nombre" type="text" ng-required="true" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pais" class="control-label col-md-2">País: </label>
                        <div class="input-group col-md-9">
                            <input id="pais" class="form-control" ng-model="equipo.pais.nombre" type="text" ng-required="true" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Disciplinas</label>
                        <div class="list-group col-md-4">
                            <div class="list-group-item" ng-repeat="disciplina in equipo.disciplinas">
                                {{disciplina.nombre}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="equipo.deportistas && equipo.deportistas.length > 0">
                        <label class="control-label col-md-2">Deportistas</label>
                        <ul class="list-group col-md-4">
                            <div class="list-group-item" ng-repeat="deportista in equipo.deportistas">
                                <div class="media-left">
                                    <img class="img-circle" ng-src="{{deportista.imagen}}" width="35" height="35">
                                </div>
                                <div class="media-body">
                                    <a href="">{{deportista.nombre}}</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-5">
                        <div class="btn-toolbar">
                            <button type="button" ui-sref="{{backUrl}}" class="btn btn-info">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>