<div class="row" ng-init="initLista()">
    <div id="container" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Equipos
                </div>

            </div>
            <div class="panel-body" ng-if="equipos.length > 0 && tieneEquipos == true">
                <div id="grid-equipos" ui-grid="table.gridOptions" ui-grid-selection class="grid">

                </div>
            </div>
            <div ng-if="equipos.length === 0 && errors.length == 0 && tieneEquipos == false">
                <div class="panel-body">
                    <div class="alert-warning">
                        <div class="alert alert-warning text-center" role="alert" style="height: 50%;">No existen
                            Equipos.
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="errors.length > 0">
                <div class="panel-body">
                    <div class="alert-danger">
                        <div class="alert alert-danger text-center" role="alert" style="height: 50%;">
                            <div ng-repeat="error in errors">
                                {{error}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="col-md-offset-5">
                    <div class="btn-toolbar">
                        <button ng-hide="hideButton" type="button" ui-sref="homeDelegacion.altaEquipo" class="btn btn-info">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>