<div class="row" ng-cloak ng-init="initDetalle()">
    <div id="form-novedad" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide">
        <form class="form-horizontal" role="form">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Detalle Novedad</div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="titulo" class="control-label col-md-2">Título: </label>
                        <div class="input-group col-md-9">
                            <input id="titulo" class="form-control" ng-value="novedad.titulo" type="text" ng-required="true" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha" class="control-label col-md-2">Fecha: </label>
                        <div class="input-group col-md-9">
                            <input id="fecha" class="form-control" ng-value="novedad.fecha | date: dateTimeFormat" type="text" ng-required="true" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Contenido: </label>
                        <div class="well text-descripcion col-md-9" ng-bind-html="novedad.descripcion"></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-5">
                        <div class="btn-toolbar">
                            <button type="button" ui-sref="home.evento.listaNovedades" class="btn btn-info">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>