<div class="row" ng-cloak>
    <div id="lista-delegaciones-caja" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6"
         ng-init="initListaNovedades()">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Novedades</div>
            </div>
            <div ng-if="novedades.length > 0">
                <div class="panel-body">
                    <div id="grid-novedades" ui-grid="table.gridOptions" class="ui-grid" ui-grid-selection class="grid">

                    </div>
                </div>
            </div>
            <div ng-if="novedades.length === 0">
                <div class="panel-body">
                    <div class="alert-warning">
                        <div class="alert alert-warning text-center" role="alert" style="height: 50%;">No existen
                            novedades.
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-center">
                    <button type="button" ui-sref="home.evento.altaNovedad" class="btn btn-info">Agregar Novedad</button>
                </div>
            </div>
        </div>
    </div>
</div>
