<div id="alta-novedad-caja" class="mainbox col-lg-offset-2 col-lg-10 col-sm-10 col-md-10" ng-init="initFlujoNovedades()">
    <form class="form-horizontal" role="form" ng-submit="submitFormDelegaciones()">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">{{tituloForm}}</div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="titulo" class="col-md-1 control-label">Titulo</label>
                    <div class="col-md-6">
                        <input id="titulo" ng-model="novedad.titulo" type="text" class="form-control" name="titulo" placeholder="Titulo de la novedad" ng-required="true">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div text-angular="text-angular" name="descripcion" ng-model="novedad.descripcion"></div>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-repeat="error in errors" >
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{error}}
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-5 text-center">
                    <div class="btn-toolbar">
                        <button class="btn btn-info" type="submit">Confirmar</button>
                        <button class="btn btn-info" type="button" ng-click="previsualizar = !previsualizar">Previsualizar</button>
                        <button class="btn btn-info" type="button" ui-sref="home.evento.listaNovedades">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="panel panel info show-hide" ng-show="previsualizar">
        <ul class="list-group">
            <li class="list-group-item">
                <div ng-bind-html="novedad.descripcion" class=""></div>
            </li>
        </ul>
    </div>
</div>