<script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" placeholder="Buscar lugares...">
</script>
<div id="form-equipo" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-init="initStepTwo()">
    <form class="form-horizontal" role="form" ng-submit="goNext()">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Alta de encuentro - Participantes</div>
            </div>
            <div class="panel-body" ng-if="tieneEquipos == true">
                <div class="col-md-11">
                    <div class="alert alert-info" role="alert">
                        <i class="fa fa-info-circle"></i>&nbsp; Arrastre los equipos participantes al panel derecho
                    </div>
                </div>
                <div class="panel-info col-md-5" >
                    <div class="panel-heading">
                        <div class="panel-title">Equipos</div>
                    </div>
                    <div class="panel-body bordered-thin">
                        <ul ui-on-Drop="onDrop($event,$data,equipos)" class="list-group drag-list" >
                            <li ui-draggable="true" drag="equipo" class="list-group-item list-group-item-drag"
                                on-drop-success="dropSuccessHandler($event,$index,equipos)"
                                ng-repeat="equipo in equipos track by $index">
                                <i class="fa fa-futbol-o"></i>&nbsp;&nbsp;&nbsp;{{equipo.nombre}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-info col-md-offset-1 col-md-5">
                    <div class="panel-heading">
                        <div class="panel-title">Equipos participantes</div>
                    </div>
                    <div class="panel-body bordered-thin">
                        <ul ui-on-Drop="onDrop($event,$data,encuentro.equipos)" class="list-group drag-list">
                            <li ui-draggable="true" drag="equipo" class="list-group-item list-group-item-success"
                                on-drop-success="dropSuccessHandler($event,$index,encuentro.equipos)"
                                ng-repeat="equipo in encuentro.equipos track by $index">
                                <i class="fa fa-futbol-o"></i>&nbsp;&nbsp;&nbsp;{{equipo.nombre}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-11" style="margin-top: 3em;">
                    <div class="alert alert-danger col-lg-offset-1 col-md-10" role="alert" ng-repeat="error in errors">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        &nbsp;&nbsp;{{error}}
                    </div>
                </div>
            </div>
            <div class="panel-body" ng-if="tieneEquipos == false">
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    &nbsp;&nbsp;No existen equipos asociados a esta disciplina/evento.
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-4">
                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-info col-md-3" ng-if="tieneEquipos == true">Siguiente</button>
                        <button type="button" ng-click="goBack()" class="btn btn-info col-md-3">
                            Volver
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>