<div id="form-equipo" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-init="initStepOne()">
    <form class="form-horizontal" role="form" ng-submit="goNext()">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Alta de encuentro - Datos Básicos</div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="nombre" class="control-label col-md-3">Nombre: *</label>
                    <div class="input-group col-md-7">
                        <input id="nombre" class="form-control" ng-model="encuentro.nombre" type="text" placeholder="Nombre del encuentro..." ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Fecha: *</label>
                    <p class="input-group col-md-4">
                        <input id="fecha" class="form-control" datetime-picker="dd/MM/yyyy HH:mm a" ng-model="encuentro.fecha" is-open="fechaNacOpened" enable-time="true" ng-required="true">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="fechaNacOpened = true"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Fecha hasta: *</label>
                    <p class="input-group col-md-4">
                        <input id="fecha-hasta" class="form-control" datetime-picker="dd/MM/yyyy HH:mm a" ng-model="encuentro.fechafin" is-open="fechaHastaOpened" enable-time="true" ng-required="true">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="fechaHastaOpened = true"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="control-label col-md-3">Descripción: *</label>
                    <div class="input-group col-md-7">
                        <textarea id="descripcion" class="form-control" ng-model="encuentro.descripcion" type="text" placeholder="breve descripción..." ng-required="true"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="combo-disciplinas" class="control-label col-md-3">Disciplina: *</label>
                    <div class="input-group col-md-5">
                        <select class="form-control" id="combo-disciplinas" ng-model="encuentro.idDisciplina" ng-options="disciplina.id as disciplina.nombre for disciplina in disciplinas" ng-required="true">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger col-lg-offset-1 col-md-10" role="alert" ng-repeat="error in errors">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{error}}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-4">
                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-info col-sm-3">Siguiente</button>
                        <button type="button" ng-click="goBack()" class="btn btn-info col-sm-3">
                            Volver
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>