<script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" placeholder="Buscar lugares...">
</script>
<div id="form-equipo" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-init="initStepThree()">
    <form class="form-horizontal" role="form" ng-submit="goNext()">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Alta de encuentro - Localización</div>
            </div>
            <div class="panel-body">
                <div class="alert alert-info" role="alert">
                    <i class="fa fa-info-circle"></i>&nbsp; Marque en el mapa la localización del evento
                </div>
                <div class="map-wrapper">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events">
                        <ui-gmap-marker ng-if="marker != null" coords="marker.coords" draggable="true" icon="marker.icon" idKey="marker.id"></ui-gmap-marker>
                        <ui-gmap-search-box template="map.searchBox.template" events="map.searchBox.events" position="map.searchBox.position"></ui-gmap-search-box>
                    </ui-gmap-google-map>
                </div>
                <div class="alert alert-danger col-md-12" role="alert" ng-repeat="error in errors" style="margin-top: 3em;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{error}}
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-4">
                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-info col-md-3">Confirmar</button>
                        <button type="button" ng-click="goBack()" class="btn btn-info col-md-3">
                            Volver
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>