<div id="form-equipo" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-init="initDetalleEncuentro()">
    <form class="form-horizontal" role="form">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Detalle de Encuentro</div>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="nombre" class="control-label col-md-2">Nombre: </label>
                    <div class="input-group col-md-9">
                        <input id="nombre" class="form-control" ng-model="encuentro.nombre" type="text" ng-required="true" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Fecha: </label>
                    <p class="input-group col-md-9">
                        <input id="fecha-desde" class="form-control" datetime-picker="dd/MM/yyyy HH:mm a" ng-model="encuentro.fecha" is-open="calendar.fechaNacOpened" enable-time="true" ng-required="true" ng-disabled="true">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar.fechaNacOpened = true" ng-disabled="true"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Fecha Fin: </label>
                    <p class="input-group col-md-9">
                        <input id="fecha-hasta" class="form-control" datetime-picker="dd/MM/yyyy HH:mm a" ng-model="encuentro.fechafin" is-open="fechaHastaOpened" enable-time="true" ng-required="true" ng-disabled="true">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="fechaHastaOpened = true" ng-disabled="true"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="control-label col-md-2">Descripción: </label>
                    <div class="input-group col-md-9">
                        <textarea id="descripcion" class="form-control" ng-model="encuentro.descripcion" type="text" ng-required="true" ng-disabled="true"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="combo-disciplinas" class="control-label col-md-2">Disciplina: *</label>
                    <div class="input-group col-md-5">
                        <select class="form-control" id="combo-disciplinas" ng-model="encuentro.idDisciplina"
                                ng-options="disciplina.id as disciplina.nombre for disciplina in disciplinas" ng-required="true"
                                ng-disabled="true">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="control-label col-md-2">Equipos: </label>
                    <div class="list-group col-md-5">
                        <div class="list-group-item" ng-repeat="equipo in encuentro.equipos">
                            {{equipo.nombre}}
                        </div>
                    </div>
                </div>
                <div class="map-wrapper col-md-12">
                    <label>Localizacion</label>
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events">
                        <ui-gmap-marker ng-if="marker != null" coords="marker.coords" draggable="true" icon="marker.icon" idKey="marker.id"></ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
                <div class="map-wrapper col-md-12" style="margin-top: 20pt;" ng-if="encuentro && encuentro.id">
                    <label>Codigo QR</label>
                </div>
                <div class="form-group" ng-if="encuentro && encuentro.id">
                    <div class="text-center">
                        <qr text="encuentro.id.toString()" image="true"></qr>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-2">
                    <div class="btn-toolbar">

                        <button type="button" class="btn btn-info col-md-3" ng-click="openModalResultado()">Resultados</button>
                        <button type="button" ng-click="goListaEntradas()" class="btn btn-info col-md-3" ng-click="">Entradas</button>
                        <button type="button" ui-sref="home.encuentro.listaEncuentros" class="btn btn-info col-md-3">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>