<div id="container" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6" ng-init="initLista()">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                Encuentros
            </div>
        </div>
        <div class="panel-body" ng-if="encuentros.length > 0 && tieneEncuentros == true">
            <div id="grid-encuentros" ui-grid="table.gridOptions" ui-grid-selection class="grid">

            </div>
        </div>
        <div ui-view></div>
        <div ng-if="encuentros.length == 0 && tieneEncuentros == false">
            <div class="panel-body">
                <div class="alert-warning">
                    <div class="alert alert-warning text-center" role="alert" style="height: 50%;">No existen
                        Encuentros.
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="errors.length > 0">
            <div class="panel-body">
                <div class="alert-danger">
                    <div class="alert alert-danger text-center" role="alert" style="height: 50%;">
                        <div ng-repeat="error in errors">
                            {{error}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-md-offset-5">
                <div class="btn-toolbar">
                    <button type="button"  ng-click="goAltaEncuentro()" class="btn btn-info"
                            uib-popover="{{popOver.content}}" popover-trigger="focus" popover-enable="isEventoFinalizado">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
