<script type="text/ng-template" id="modal-login.html">
    <form id="loginForm" name="form" ng-submit="doLogin()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
            <h1 class="text-center">Login</h1>
        </div>
        <div class="modal-body">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="text" name='user.username' placeholder="Correo Electrónico" ng-required="true" ng-model="user.userName"/>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" type="password" name='user.password' placeholder="Contraseña" ng-required="true" ng-model="user.password"/>
            </div>
            <div class="alert alert-danger" role="alert" ng-repeat="error in errors" >
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{error}}
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <input type="submit" class="btn btn-info center-block" value="Login"/>
            </div>
        </div>
    </form>
</script>

