<div class="nav-side-menu col-md-2">
    <div class="brand" ng-controller="HomeDelegacionController">
        <a href="">
            <img src="styles/images/ssem_logo.png" alt="SSEM" class="logo-ssem" ng-click="volverHomeDelegacion()"/>
        </a>
    </div>
    <div class="menu-list">
        <ul id="menu-content-2" class="menu-content collapse" ng-if="viewState != 'HOME'">
            <li ui-sref="homeDelegacion.editarPerfil">
                <a href=""><i class="fa fa-user"></i>Perfil</a>
            </li>
            <li ui-sref="homeDelegacion.listaDeportistas">
                <a href=""><i class="fa fa-soccer-ball-o"></i>Deportistas</a>
            </li>
            <li ui-sref="homeDelegacion.listaEquipos">
                <a href=""><i class="fa fa-group"></i> Equipos </a>
            </li>
        </ul>
    </div>
</div>