<div class="nav-side-menu col-md-2">
    <div class="brand">
        <a href="" >
            <img src="styles/images/ssem_logo.png" alt="SSEM" class="logo-ssem" ng-click="volverHome()"/>
        </a>
    </div>
    <div class="menu-list">
        <ul id="menu-content-1" class="menu-content collapse in" ng-if="viewState == 'HOME'">
            <li ng-click="nuevoEvento()">
                <a href=""><i class="fa fa-plus fa-lg"></i> Nuevo Evento </a>
            </li>
            <li ng-click="listaEventos()">
                <a href=""><i class="fa fa-list fa-lg"></i> Mis Eventos </a>
            </li>
        </ul>
        <ul id="menu-content-2" class="menu-content collapse" ng-if="viewState != 'HOME'">
            <li ng-click="goSelectedEvento()">
                <a href=""><i class="fa fa-home"></i> Mi Evento </a>
            </li>
            <li ng-click="listaDelegaciones()">
                <a href=""><i class="fa fa-user"></i> Delegaciones </a>
            </li>
            <li ui-sref="home.evento.listaNovedades">
                <a href=""><i class="fa fa-newspaper-o"></i> Novedades </a>
            </li>
            <li ui-sref="home.encuentro.listaEncuentros">
                <a><i class="fa fa-soccer-ball-o"></i> Encuentros </a>
            </li>
            <li ui-sref="home.listaDeportistas">
                <a><i class="fa fa-users"></i> Deportistas </a>
            </li>
            <li ui-sref="home.equipos">
                <a><i class="fa fa-dribbble"></i> Equipos </a>
            </li>
            <li ng-click="isCollapsed = !isCollapsed" class="nohover">
                <a href=""><i class="fa fa-bar-chart"></i> Reportes </a>
                <div class="nav-collapse" uib-collapse="isCollapsed" ng-click="isCollapsed=!isCollapsed">
                    <ul class="menu-content collapse">
                        <li class="reportes-submenu" ui-sref="home.reporteVentas"><a href=""><i class="fa fa-money"></i>&nbsp;Ventas</a></li>
                        <!--<li class="reportes-submenu">-->
                            <!--<a href=""><i class="fa fa-check"></i>&nbsp;Encuestas</a>-->
                        <!--</li>-->
                        <!--<li class="reportes-submenu" style="border-bottom-style: none;"><a href=""><i class="fa fa-line-chart"></i> &nbsp;Web</a></li>-->
                    </ul>
                </div>
            </li>
            <li ng-click="volverHome()">
                <a href=""><i class="fa fa-arrow-left"></i> Volver </a>
            </li>

        </ul>
    </div>
</div>