<div class="row" ng-cloak>
    <div id="form-reporte" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-hide="hideForm">
        <form class="form-horizontal" role="form" ng-submit="cargarGrafica()">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Reporte de ventas de entradas por Encuentro</div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="combo-encuentros" class="control-label col-md-3">Encuentro</label>
                        <div class="input-group col-md-5">
                            <select class="form-control" id="combo-encuentros" ng-disabled="estaCargandoGrafica" ng-required="true"
                                    ng-model="filter.idEncuentro" ng-options="encuentro.id as encuentro.nombre for encuentro in encuentros">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Fecha desde: *</label>
                        <p class="input-group col-md-4">
                            <input id="fecha-desde" class="form-control" datetime-picker="dd/MM/yyyy" ng-disabled="estaCargandoGrafica"
                                   ng-model="filter.finicio" is-open="isFechaDesdeOpen" enable-time="false" ng-required="true">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="isFechaDesdeOpen = true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Fecha desde: *</label>
                        <p class="input-group col-md-4">
                            <input id="fecha-hasta" class="form-control" datetime-picker="dd/MM/yyyy" ng-disabled="estaCargandoGrafica"
                                   ng-model="filter.ffinal" is-open="isFechaHastaOpen" enable-time="false" ng-required="true">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="isFechaHastaOpen = true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group chart-wrapper" ng-if="mostrarReporte == true">
                        <div class="col-md-offset-1 col-md-10">
                            <label class="control-label" style="margin-bottom: 1.5em;">Reporte</label>
                            <canvas class="chart chart-bar" chart-options="chart.options" chart-data="chart.data" chart-labels="chart.labels" ></canvas>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger col-lg-offset-1 col-md-10" role="alert" ng-repeat="error in errors">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            &nbsp;{{error}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-4">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-info col-md-4">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>