<div class="row" ng-cloak ng-init="initAlta()">
    <div id="form-equipo" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-hide="hideForm">
        <form class="form-horizontal" role="form" ng-submit="submitAlta()">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Alta de Deportista</div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="nombre" class="control-label col-md-4">Nombre: *</label>
                        <div class="input-group col-md-6">
                            <input id="nombre" class="form-control" ng-model="deportista.nombre" type="text" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellido" class="control-label col-md-4">Apellido: *</label>
                        <div class="input-group col-md-6">
                            <input id="apellido" class="form-control" ng-model="deportista.apellido" type="text" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Fecha nacimiento: *</label>
                        <p class="input-group col-md-6">
                            <input id="fecha-nac" class="form-control" datetime-picker="dd/MM/yyyy"
                                   ng-model="deportista.fechanac" is-open="calendar.fechaNacOpened" enable-time="false" ng-required="true" close-text="Close">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="calendar.fechaNacOpened = true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="altura" class="control-label col-md-4">Altura (metros):</label>
                        <div class="input-group col-md-6">
                            <input id="altura" class="form-control" ng-model="deportista.altura" type="number" min="0.5" ng-required="false" step="any">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="posicion" class="control-label col-md-4">Posición: </label>
                        <div class="input-group col-md-6">
                            <input id="posicion" class="form-control" ng-model="deportista.posicion" type="text" ng-required="false">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="combo-equipos" class="control-label col-md-4">Equipo</label>
                        <div class="input-group col-md-6">
                            <select class="form-control" id="combo-equipos" ng-model="deportista.equipos" ng-options="equipo.id as equipo.nombre for equipo in equipos" ng-required="true">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="logo" class="col-md-4 control-label">Imagen</label>

                            <p class="input-group col-md-6">
                                <input id="logo" class="form-control" accept="image/*" type="file" ng-required="true" ng-file-model="imagen"/>
                            <p class="input-group">

                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger col-lg-offset-1 col-md-10" role="alert" ng-repeat="error in errors">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-4">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-info col-md-3">Confirmar</button>
                            <button type="button" ui-sref="homeDelegacion.listaDeportistas" class="btn btn-info col-md-3">Volver</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>