<div class="row" ng-cloak ng-init="initDetalle()">
    <div id="form-deportista" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6 show-hide" ng-hide="hideForm">
        <form class="form-horizontal" role="form">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Detalle deportista</div>
                </div>
                <div class="panel-body">
                    <div class="media col-md-offset-1">
                        <div class="media-left media-middle">
                            <a href="">
                                <img class="media-object" ng-src="{{deportista.imagen}}" width="130" height="130">
                            </a>
                        </div>
                        <div class="media-body">
                            <p class="media-heading"><b>Nombre: &nbsp;</b>{{deportista.nombre}}&nbsp;{{deportista.apellido}}</p>
                            <p><b>Fecha nacimiento:&nbsp;</b>{{deportista.fechanac | date: dateFormat}}</p>
                            <p ng-if="deportista.posicion"><b>Posicion:</b>&nbsp;{{deportista.posicion}}</p>
                            <p><b>Equipo:&nbsp;</b>{{deportista.equipo.nombre}}</p>
                            <p ng-if="deportista.altura"><b>Altura: &nbsp;</b>{{deportista.altura}}</p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-5">
                        <div class="btn-toolbar">
                            <button type="button" ui-sref="{{backUrl}}" class="btn btn-info">
                                Volver
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>