<div class="row" ng-cloak ng-init="initLista()">
    <div id="container" class="mainbox col-lg-offset-4 col-lg-6 col-sm-6 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Deportistas
                </div>
            </div>
            <div class="panel-body">
                <div id="grid-deportistas" ng-if="deportistas.length > 0 && tieneDeportistas == true" ui-grid="table.gridOptions" ui-grid-selection class="grid">

                </div>

                <div class="alert-warning" ng-if="deportistas.length === 0 && errors.length === 0 && tieneDeportistas == false" >
                    <div  class="alert alert-warning text-center" role="alert" style="height: 50%;">No existen
                        Deportistas.
                    </div>
                </div>
            </div>
            <div ng-if="errors.length > 0">
                <div class="panel-body">
                    <div class="alert-danger">
                        <div class="alert alert-danger text-center" role="alert" style="height: 50%;">
                            <div ng-repeat="error in errors">
                                {{error}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-md-offset-5">
                    <div class="btn-toolbar">
                        <button type="button" ng-hide="hideBottonAgregar" ui-sref="homeDelegacion.altaDeportista" class="btn btn-info">Agregar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>